<form [formGroup]="data" (ngSubmit)="addUsers()">
  <div>
    <label for="name">Name: </label>
    <input type="text" formControlName="user_name">
  </div>
  <div>
    <label for="email">email: </label>
    <input type="text" formControlName="user_email">
  </div>
  <div>
    <label for="password">password: </label>
    <input type="text" formControlName="user_password">
  </div>
  <button type="submit">Submit</button>
</form>
<hr>
<app-c1></app-c1>
<hr>

<app-view-child></app-view-child>
<hr>

<app-inbuilt-pipes></app-inbuilt-pipes>
<hr>

<app-custom-pipes></app-custom-pipes>
<hr>

<app-observables></app-observables>
<hr>

<app-route-guard></app-route-guard>
<router-outlet></router-outlet>
